<section class="container mt-1">
    <h2 class="bg-info">Create New Post</h2>
    <form class="new-post-form rounded border border-3">
        <div class="d-flex justify-content-center">
            <label for="post-title">Title</label>
        </div>
        <div class="d-flex justify-content-center">
            <input type="text" id="post-title" name="post-title" />
        </div>
        <div class="d-flex justify-content-center">
            <label for="post-content">content</label>
        </div>
        <div class="d-flex justify-content-center">
            {{!-- remeber this is differnet then the module so fix it to match your js --}}
            <input type="text" name="post-content" id="post-content"></input>
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-info">Create</button>
        </div>
    </form>
</section>

{{#if posts.length}}
<section>
    <h2>Your Posts</h2>
    <ol>
        {{#each posts as |post|}}
        <li>
            {{> post-info}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>